// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// Some temp fixes
@import "fixes";

// If you want to add something do it here
@import "custom";

.react-responsive-modal-modal {
  width: 30%;
}

//Superadmin Dashboard sidebar
.c-sidebar {
  background-color: #0046fe;
  width: 220px;
}
.bg-success py-3 {
  height: 100%;
}
